@model pwlc.Models.Checkup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Checkup</h4>
    <hr />

    <div id="checkup-full-detail">
        <div class="row patient-info-title">
            <div class="col-md-2">@Html.DisplayNameFor(model => model.Patient.Chart)</div>
            <div class="col-md-6">Patient</div>
            <div class="col-md-2">@Html.DisplayNameFor(model => model.Age)</div>
            <div class="col-md-2">@Html.DisplayNameFor(model => model.CheckupDate)</div>
        </div>
        <div class="row patient-info">
            <div class="col-md-2">@Html.DisplayFor(model => model.Patient.Chart)</div>
            <div class="col-md-6">@Html.DisplayFor(model => model.Patient.FirstName) @Html.DisplayFor(model => model.Patient.LastName)</div>
            <div class="col-md-2">@Html.DisplayFor(model => model.Age)</div>
            <div class="col-md-2">@Html.DisplayFor(model => model.CheckupDate)</div>
        </div>

        <div class="row">
            <div class="one-fifth">@Html.DisplayNameFor(model => model.Excercising)</div>
            <div class="one-fifth">@Html.DisplayNameFor(model => model.FollowingFoodGuidelines)</div>
            <div class="one-fifth">@Html.DisplayNameFor(model => model.HCG)</div>
            <div class="one-fifth">@Html.DisplayNameFor(model => model.ScriptToFill)</div>
            <div class="one-fifth">@Html.DisplayNameFor(model => model.FillScript)</div>
        </div>

        <div class="row">
            <div class="one-fifth">@Html.DisplayFor(model => model.Excercising)</div>
            <div class="one-fifth">@Html.DisplayFor(model => model.FollowingFoodGuidelines)</div>
            <div class="one-fifth">@Html.DisplayFor(model => model.HCG)</div>
            <div class="one-fifth">@Html.DisplayFor(model => model.ScriptToFill)</div>
            <div class="one-fifth">@Html.DisplayFor(model => model.FillScript)</div>
        </div>

        <div class="row">
            <div class="one-fifth">@Html.DisplayNameFor(model => model.Height)</div>
            <div class="one-fifth">@Html.DisplayNameFor(model => model.Weight)</div>
            <div class="one-fifth">@Html.DisplayNameFor(model => model.BP)</div>
            <div class="one-fifth">@Html.DisplayNameFor(model => model.BMI)</div>
            <div class="one-fifth">@Html.DisplayNameFor(model => model.BodyFat)</div>
        </div>
        <div class="row">
            <div class="one-fifth">@Html.DisplayFor(model => model.Height)</div>
            <div class="one-fifth">@Html.DisplayFor(model => model.Weight)</div>
            <div class="one-fifth">@Html.DisplayFor(model => model.BP)</div>
            <div class="one-fifth">@Html.DisplayFor(model => model.BMI)</div>
            <div class="one-fifth">@Html.DisplayFor(model => model.BodyFat)</div>
        </div>

        </div>




    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.LossGain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LossGain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLoss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLoss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyWaterIntake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyWaterIntake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cycle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hips)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hips)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Waist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model =>model.Signature)" style="height:13px;width:76px;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckupId }) |
    @Html.ActionLink("Sign off on Checkup", "AddSignature", new { id = Model.CheckupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
