@model pwlc.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentType.ApptColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentType.ApptColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.borderColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.borderColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.textColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textColor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.eventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
