@model pwlc.Models.Injection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Injection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InjectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InjectionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LotNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LotNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InjectionLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InjectionLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InjectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
