@model pwlc.Models.Patient

@{
    ViewBag.Title = "Details";
}

<div id="patient-profile">
        <div id="patient-id">
            <div class="col-md-8">
                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Chart)
            </div>
        </div><!-- end patient-id -->

        <div id="patient-information">
            <div class="col-md-8">
                @Html.DisplayFor(model => model.Address), @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.DateOfBirth)
            </div>

            <div class="col-md-4">
                @Html.DisplayFor(model => model.Email)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Phone)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.ContactMethod)
            </div>
        </div> <!-- end patient-information -->
</div><!-- end patient-profile -->

   
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
