@model IEnumerable<pwlc.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="patient">
    <div class="row">
        <div class="col-md-1"><h5>Chart</h5></div>
        <div class="col-md-2"><h5>Name</h5></div>
        <div class="col-md-2"><h5>Phone</h5></div>
        <div class="col-md-2"><h5>Email</h5></div>
        <div class="col-md-2"><h5>Contact Preference</h5></div>
        <div class="col-md-3"></div>
    </div>
    <hr />
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-1">@Html.DisplayFor(modelItem => item.Chart)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Phone)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Email)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.ContactMethod)</div>
            <div class="col-md-3">
                @Html.ActionLink("Edit", "Edit", new { id = item.PatientId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PatientId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PatientId }) |
                @Html.ActionLink("Add Checkup", "Create", "Checkups", new { pid = item.PatientId }, null) |
                @Html.ActionLink("Add Injection", "Create", "Injections", new { pid = item.PatientId }, null) |
                @Html.ActionLink("Add Appointment", "Create", "Events", new { pid = item.PatientId }, null)
            </div>
        </div>
    }
</div>