@model IEnumerable<pwlc.Models.Injection>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InjectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LotNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InjectionLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InjectionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LotNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InjectionLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InjectionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InjectionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InjectionId })
        </td>
    </tr>
}

</table>
