@model IEnumerable<pwlc.Models.Patient>

@{
    ViewBag.Title = "Search";
}

@* Html.BeginForm is used to add a form in an Html document *@
@* Pass the action name in the first parameter, controller name in the second parameter and specify the form request type as get *@
<br /><br /><br /><br />

@using (Html.BeginForm("Search", "Employee", FormMethod.Get))
{
    <p>
        @Html.RadioButton("option", "Last Name") <text>Last Name</text> @Html.RadioButton("option", "Chart")<text>Chart</text>
        Title: @Html.TextBox("search")
        <input type="submit" name="Search" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Chart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Chart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PatientId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PatientId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PatientId })
            </td>
        </tr>
    }

</table>